@model List<EjercicioMVC.MVC.Models.CategoriesView>

@{
    ViewBag.Title = "Categorias";
}

<h1> Lista de Categorías</h1>

<div>

    @Html.ActionLink("Insertar Categoria", "InsertUpdate", "Categories", new { @class = "btn btn-primary" })

</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col"></th>
 
        </tr>
    </thead>


    <tbody>

        @foreach (var category in Model)
        {
        <tr>
            <th scope="row">@category.CategoryId</th>
            <td>@category.CategoryName</td>
            <td>@category.CategoryDescription</td>
            <td>@Html.ActionLink("Editar", "InsertUpdate", new { id = category.CategoryId }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = category.CategoryId }, new { @class = "btn btn-danger", onclick = "return confirm('Confirme para borrar')" })</td>

        </tr>
        }
    </tbody>
</table>


